name: Blog CI

on:
    push:
        branches: [ci-cd]

jobs:
    build:
        runs-on: self-hosted

        strategy:
            matrix:
                node-version: [18.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - run: yarn -v
            - run: yarn cache clean
            - run: yarn install --ignore-engines
            - run: yarn build
